.about-container{
    color: #FFE8D6;
    text-shadow: 0 0 2px #CB997E;
    background-color: #6B705C;
    border: 5px solid #Cb997E;
}

.about-title{
    background-color: #6B705C;    
}

.about-text{
    background-color: #6B705C;
}

.grid-container{
    background-color: #6B705C;
}

ul, li{
    background-color: #6B705C;
}