.title {
    color: #FFE8D6;
    text-shadow: 0 0 2px #6B705C;
}

a {
    text-decoration: none;
    color: #FFE8D6 ;
    cursor: pointer;
    border-color: #FFE8D6;
    background-color: #DDBEA9;
    text-shadow: 0 0 2px #6B705C;
}

a:hover {
    text-decoration: none;
    color: #FFE8D6 ;
}

a:link {
    text-decoration: none;
    color: #FFE8D6 ;
}
.contact-li{
    background-color: #DDBEA9;
    padding: 5px;
    margin: 5px;
}

.bullets {
    background-color: #DDBEA9;
    border: 5px solid #Cb997E;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    }