* {
    background-color: #B7B7A4;
}

button {
    color: #FFE8D6 ;
    background-color: #CB997E;
    border-color: #FFE8D6;
}

button:hover{
    color: #CB997E ;
    background-color: #FFE8D6;
    border-color: #CB997E;
}